reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.hidden {
  display: none;
}

.active {
  opacity: 1;
  font-weight: bold;
}


* {
  font-family: "Lato", sans-serif;
}

.container {
  width: 70vw;
  height: 490px; /* mesure en dur pour que vous puissiez inspecter sans problème de rendu vertical */
  border: solid 10px #b3aba6;
}

#player-1,
#player-2 {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  background-color: rgb(201, 95, 95);
}

  .point-noir {
    width: 15px; 
    height: 15px;
    background-color: black; 
    border-radius: 50%; 
    display: inline-block; 
    margin-left: 10px;
}


.total-score-1,
.total-score-2 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(201, 95, 95);
}


#newgame,
.roll-dice,
.hold-dice {
  background-color: rgb(201, 95, 95);
  border-radius: 2px;
  border: solid, black, 3px;
  color: black;
  cursor: pointer;
}

#newgame:hover, .roll-dice:hover, .hold-dice:hover {
  background-color: rgb(231, 125, 125);

}


.current-dice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-square {
  background-color: rgb(201, 95, 95);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}
