reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
}

.hidden {
  display: none;
}

.active {
  opacity: 1;
  font-weight: bold;
}


.container {
  border: solid 10px #b3aba6;
}

.player-inactive {
  opacity: 0.5;
}

#player-1,
#player-2 {
  font-size: 3rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  background-color: rgb(201, 95, 95);
  border-radius : 7px;
}

.dice-img {
  height: auto;
  width: auto;
}

  .point-noir {
    width: 20px; 
    height: 20px;
    background-color: black; 
    border-radius: 50%; 
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
}


.total-score-1,
.total-score-2 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(201, 95, 95);
}


#newgame,
.roll-dice,
.hold-dice {
  background-color: rgb(201, 95, 95);
  border-radius: 2px;
  border: solid, black, 3px;
  color: black;
  cursor: pointer;
}

#newgame:hover, .roll-dice:hover, .hold-dice:hover {
  background-color: rgb(231, 125, 125);

}

.current-dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-square {
  background-color: rgb(201, 95, 95);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.player-inactive {
  opacity: 0.5;
  font-weight: normal;
}

